@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  @page {
    margin: 0;
    size: A4;
  }
  
  body {
    margin: 1.6cm;
  }

  .print:hidden {
    display: none;
  }

  /* Ensure background colors are printed */
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
